@{
    ViewData["Title"] = "Início";
}

<br>
<article>
    <header>
<h1 class="bemVindo">Bem-vindo ao site da veterinária!</h1>
<br>
    </header>
            <img id="imagem" src="/images/download.jpg" title="Boas vindas">
            <br>
            <p class="texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi accusamus error molestias tempora in officiis explicabo animi tempore quibusdam, expedita quos consectetur cupiditate odit! Accusantium magni non sed illo animi! Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore vero facilis veritatis quos rem fuga? Qui sed ab amet quo tempore necessitatibus nihil ullam! Incidunt in doloribus eaque vitae ducimus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque ad quam laboriosam provident, rerum deleniti dignissimos reiciendis reprehenderit veritatis adipisci culpa molestias ipsum. Possimus amet, minima sunt eum pariatur voluptate.</p>
        <br>
</main>
</article>
