@{
    ViewData["Title"] = "Serviços";
}
<br>
<h1 class="bemVindo">Serviços</h1>
<br>

<ul>
    <li class="servicos">Serviço 1
    <ul class="itens">
        <li>Consulta veterinária</li>
        <li>R$79,00</li>
    </ul>
    </li>
    <li class="servicos">Serviço 2
    <ul class="itens">
        <li>Banho e tosa</li>
        <li>R$60,00</li>
    </ul>
    </li>
    <li class="servicos">Serviço 3
    <ul class="itens">
        <li>Castração</li>
        <li>R$500,00</li>
    </ul>
    </li>
</ul>